@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap');
/* Font family */
/*
font-family: 'Rubik', sans-serif;
font-family: 'Share Tech Mono', monospace;
*/

@font-face {
    font-family: 'sathu';
    src: url("./../fonts/Sathu-quotation.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

/* Basic Setup */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
span,
label{
    display: inline-block;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 0;
}
:root{
    --white:#fff;
    --black:#000000;
    --body-bg:#070d27;
}

body{
    background: var(--body-bg);
}

header,
section,
footer{
    padding-left: 172px;
    padding-right:172px;
}


/* Header Section Start */
.header--section{
    padding-top: 6px;
    padding-bottom: 6px;
}

.logo img{
    max-width: 300px;
}

.main--nav ul li a{
    font-family: 'Rubik', sans-serif;
    font-size:24px;
    font-weight: 400;
    line-height:28px;
    color: #fff;
    text-transform: uppercase;
    
}
.main--nav ul li:not(:last-child){
    margin-right: 72px;
}
.main--nav ul li:hover a,
.main--nav ul li:focus a,
.main--nav ul li a:focus{
    color:#fff;
}
.navbar-toggler{
    padding:0;
}
/* Header Section End */

/* Banner Section Start */
.banner--wave{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
}
.subpage--wave{
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 0;
    width: 100%;
}
.banner--section{
    padding-top:250px;
    padding-bottom: 224px;
}
.banner--section h2{
    font-family: 'Rubik', sans-serif;
    font-size:74px;
    font-weight: 400;
    line-height:80px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.banner--section h1{
    font-family: 'Rubik', sans-serif;
    font-size:80px;
    font-weight: 500;
    line-height:72px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.banner--section p{
    font-family: 'Rubik', sans-serif;
    font-size:48px;
    font-weight: 400;
    line-height:48px;
    color: #fff;
    margin-bottom: 32px;
}
.banner--section button{
    background:url('./../images/smallbutton.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 21px 32px;
    border-radius: 42px;
    font-family: 'Rubik', sans-serif;
    font-size:30px;
    font-weight: 400;
    color: #000;
    letter-spacing: 1.1px;

}
/* Banner Section End */

/* Service Section Start */

.our--service{
    padding-top:120px;
    padding-bottom: 120px;
    position: relative;
}
.our--service .muster--wave{
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    max-width: 600px;
    height: auto;
    z-index: -1;
}
.service--content{
    padding: 0 120px;
}
.service--title {
    text-align: center;
}
.service--title h2{
    font-family: 'Rubik', sans-serif;
    font-size:72px;
    font-weight: 400;
    line-height:80px;
    color: #fff;
    margin-bottom: 120px;
    text-transform: uppercase;
}
.service--title h2 span{
    font-weight: 500;
}
.service--content .row:not(:last-child){
    margin-bottom: 160px;
}
.service--row{
    display:flex;
}
.service--img img{
    width:90px;
    height:90px;
    margin-right:20px;
}

.service--text h3{
    font-family: 'Rubik', sans-serif;
    font-size:38px;
    font-weight: 400;
    line-height:48px;
    color: #fff;
    margin-bottom: 40px;
}
.service--text p{
    font-family: 'Rubik', sans-serif;
    font-size:25px;
    font-weight: 300;
    line-height:32px;
    color: #fff;
    margin-bottom: 8px;
}
.service--text button{
    background:url('./../images/smallbutton.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 8px 36px;
    border-radius: 40px;
    font-family: 'Rubik', sans-serif;
    font-size:16px;
    font-weight: 400;
    margin-top: 48px;
    border: none;
}
/* Service Section End */

/* About Section Start*/

.about--content{
    padding-left:120px;
    padding-right: 120px;
    text-align: center;
    margin-bottom: 120px;
}
.about--content h2{
    font-family: 'Rubik', sans-serif;
    font-size:72px;
    font-weight: 400;
    line-height:80px;
    color: #fff;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.about--content h2 span{
    font-weight: 500;
}
.about--content p{
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    color: #fff;
    margin-bottom: 8px;
}

/* About Section End*/

/* Testimonial Section Start */
.testimonial-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.testimonial--content{
    padding-left: 120px;
    padding-right: 120px;
}
.testimonial--content .testimonial--row:not(:last-child){
    margin-bottom: 140px;
}
.testimonial--text{
    padding-right: 36px;
}
.testimonial--text p{
    display: flex;
}
.testimonial--text p span:first-child{
    font-family: 'sathu', sans-serif;
    font-size:90px;
    font-weight: 400;
    line-height:80px;
    color: #fff;
    margin-bottom: 60px;
    margin-right: 12px;
    display: inline-block;
}
.testimonial--text p span:last-child{
    font-family: 'Rubik', sans-serif;
    font-size:35px;
    font-weight: 300;
    line-height:48px;
    color: #fff;
    margin-bottom: 8px;
    padding-top: 20px;
}
.testimonial--img{
    text-align: center;
}
.testimonial--img img{
    width: 100%;
    max-width: 450px;
    margin-bottom: 24px;
}
.testimonial--img h4{
    font-family: 'Rubik', sans-serif;
    font-size:42px;
    font-weight: 400;
    line-height:42px;
    color: #fff;
    margin-bottom: 12px;
}
.testimonial--img h5{
    font-family: 'Rubik', sans-serif;
    font-size:32px;
    font-weight: 400;
    line-height:32px;
    color: #fff;
    margin-bottom: 8px;
}
/* Testimonial Section end */

/* Contact Us Secions */
.contact--section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.contact--content{
    padding-left: 80px;
    padding-right: 80px;
}
.contact--title{
    text-align: center;
}
.contact--title h2{
    font-family: 'Rubik', sans-serif;
    font-size:72px;
    font-weight: 400;
    line-height:80px;
    color: #fff;
    margin-bottom: 150px;
    text-transform: uppercase;
}
.contact--text{
    padding-left: 40px;
    padding-right: 40px;
    width: 85%;
}
.contact--content-wrapper{
    display:flex;
}
.contact--img img{
    width: 72px;
    height: 72px;
    margin-right: 12px;
}
.contact--text-row p{
    font-family: 'Rubik', sans-serif;
    font-size:30px;
    font-weight: 300;
    line-height:40px;
    color: #fff;
}
.contact--text-row.margin{
    margin-bottom: 24px;
}

.contact--content .contact--row:not(:last-child){
    margin-bottom: 80px;
}
.contact--text h4{
    font-family: 'Rubik', sans-serif;
    font-size:48px;
    font-weight: 300;
    line-height:40px;
    color: #fff;
    margin-bottom: 40px;
}

/* Footer Section Start */

.footer--content{
    border-top: 1px solid #4D4299;
    padding-top: 32px;
    padding-bottom: 32px;
}
.social--media-icons{
    text-align: center;
}
.social--media-icons ul li:not(:last-child){
    margin-right: 32px;
}
.social--media-icons ul li a img{
    width:48px;
    height: auto;
}
.footer--content .copyright--text{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size:32px;
    font-weight: 300;
    line-height:24px;
    color: #fff;
    margin-top: 48px;
}
/* Footer Section End */

/* Data Projects Section */
.data--protection-section{
    padding-top: 180px;
    padding-bottom: 300px;
}
.data--protection-content{
    padding-left: 144px;
    padding-right: 144px;
}

.data--protection-content h2{
    font-family: 'Rubik', sans-serif;
    font-size:72px;
    font-weight: 400;
    line-height:80px;
    color: #fff;
    margin-bottom: 108px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing:1.65px;
}
.data--protection-text h5{
    font-family: 'Rubik', sans-serif;
    font-size:36px;
    font-weight: 400;
    line-height:40px;
    color: #fff;
    margin-bottom: 16px;
}
.data--protection-text h5:not(:first-child){
    margin-top: 40px;
}
.data--protection-text p{
    font-family: 'Rubik', sans-serif;
    font-size:32px;
    font-weight: 300;
    line-height:48px;
    color: #fff;
    margin-bottom: 12px;
}

/* Defensive Security  Section */

.defensive--security-section{
    padding-top: 176px;
    padding-bottom: 152px;
}
.incident--section{
    padding-bottom: 144px;
}
.incident--content,
.security--content{
    padding-left: 120px;
    padding-right: 120px;
}
.security--content h2{
    font-family: 'Rubik', sans-serif;
    font-size:72px;
    font-weight: 400;
    line-height:80px;
    color: #fff;
    margin-bottom: 64px;
    text-transform: uppercase;
    text-align: center;
}
.incident--content h3{
    font-family: 'Rubik', sans-serif;
    font-size:42px;
    font-weight: 300;
    line-height:56px;
    color: #fff;
    margin-bottom: 48px;
    text-align: center;
}
.security--content p{
    font-family: 'Rubik', sans-serif;
    font-size:42px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    padding: 0 90px;
    text-align: center;
}
.incident--content p{
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-size:36px;
    font-weight: 300;
    line-height: 46px;
    color: #fff;
    padding: 0 90px;
}
.incident--section{
    position: relative;
}
.incident--section .muster--wave{
    position: absolute;
    top:-200px;
    left: 0;
    max-width:400px;
    z-index: -1;
    width: 100%;
}
@media (min-width:576px) {
    .contact--img p{
        display:none;
    }
}
@media (max-width:575px){
    .contact--text h4{
        display: none;
    }
    .contact--img{
        display: flex;
        align-items: center;
    }
    .contact--img p {
        font-size: 22px;
        line-height: 30px;
        color: #ffffff;
        margin-left: 6px;
    }
    .contact--row .contact--left-area.col-lg-8 .contact--content-wrapper{
        display:flex;
        align-items:flex-start;
    }
    .contact--row .contact--left-area.col-lg-8 .contact--content-wrapper .contact--text{
        padding-top: 0;
        padding-left: 20px;
    }
}
/* Defensive Security  Section */